<% if @game.player_1.hp > 0 %>

  <h1><%= @game.player_2.name %> hit <%= @game.player_1.name %>!</h1>
  <h2><%= @game.player_1.attack.damage %>  health points lost!</h2>
  <h2><%= @game.player_1.name %>'s health: <%= @game.player_1.hp %></h2>
  <form action='/p1_turn'>
    <input type="submit" value="Continue the battle">
  </form>

<% else %>
  <h1><%= @game.player_1.name %> has been defeated</h1>
  <form action='/'>
    <input type="submit" value="Play again?">
  </form>
<% end %>
