<h2>The time has come...</h2>
<h2>There is nowhere left to run...</h2>
<h2>For today...</h2>
<h1><%= @game.player_1.name %></h1>
<h3><%= @game.player_1.name %>'s health: <%= @game.player_1.hp %> </h3>

<h3>BATTLES</h3>

<h1><%= @game.player_2.name %></h1>
<h3><%= @game.player_2.name %>'s health: <%= @game.player_2.hp %> </h3>
<h1></h1>
<h2>Let's battle!</h2>
<h2><%= @game.player_1.name %>, attack <%= @game.player_2.name %>!</h2>

<form action='/p1_attack'>
<input type="submit" value="Standard Attack">
</form>

<form action='/p1_risky_attack'>
<input type="submit" value="High Risk Attack">
</form>

<form action='/p1_sleep_attack'>
<input type="submit" value="Sleep Attack">
</form>
